// COLORS
/* $body-bg: #f8f9fa;
$card-cap-bg: #ffffff;
$input-group-addon-bg: #ffffff;
$input-placeholder-color: #adb5bd; */

$main: #FC4702;
$secondary: #6C757D;
$select: #E7E7E7;
$light: #F9F9F9;
$white: #ffffff;
$black: #000000;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;

$list-group-action-active-bg: #f8f9fa;

// FONTS
$font-main: x;
$font-secondary: x;

// SIZES
$font-size-base: 0.9rem;

$border-radius: 0.5rem;
$border-radius-sm: 0.5rem;
$border-radius-lg: 0.5rem;
$custom-checkbox-indicator-border-radius: 0.25rem;

// POSITION
$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-0: 0;
$list-group-item-padding-x: 1rem;

// STATE
$enable-validation-icons: false;
