card {
    padding: x;
    margin: x;  
    border-radius: x;
    box-shadow: x;
    text-align: center;

    img {
        width: x;
        height: x;
    }
    h1 {
        font-size: x; 
        color: $white;
        background-color: $main; 
        padding: x;  
    }
    h2 {
        font-size: x; 
        color: $black; 
        margin: x;  
    }
    p {
        font-size: x; 
        color: $main; 
        margin: x;  
    }
   
}






