.cards-container {
    width: 80%;
    margin: 0 auto;

    & > div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        #card {
            width: 20rem !important;
            box-shadow: 1px 2px;
            border-radius: 0.5rem !important;
            text-align: center !important;
            color: #ffffff !important;
            height: 12rem !important;
            display: flex;
            
            img {
                width: 100%;
                max-height: 80% !important;
            }
        
            .name  {
                background-color: $brand-color; 
                align-items: center !important;
                font-size: 1.3rem !important;  
                font-weight: 400;
                color: #ffffff;
                padding: 4% !important;  
                border-bottom-left-radius: 0.5rem !important;
                border-bottom-right-radius: 0.5rem !important;
            }
        
            .location {
                color: $first-color; 
            }
        
            .description {
                color: $brand-color; 
            }
        }
    }
}