input {
    width: x;
    height: x;
    border-radius: x;
    padding: x;
    margin: x;

    light {
        background-color: x;
    }
  
}

checkbox {
    width: x;
    height: x;
    border-radius: x;
    padding: x;
    margin: x;  
    border: 1px solid gray;

    light {
        background-color: x;
    }
}



